<div>
<app-kabatim-form (kabatimAddedEvent) = "addKabatim($event)"></app-kabatim-form>
  <h3>Kabatims list:</h3>
   <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
 <ul class="list-group kabatims">
        <li class="list-group-item" *ngFor = "let kabatim of kabatims" >
            
            <app-kabatim [kabatim] = kabatim (deleteEvent) = "deleteKabatim($event)"  (editEvent) = "editKabatim($event)"  ></app-kabatim>            
        </li>
  </ul>
</div>