<div>
<app-user-form (userAddedEvent) = "addUser($event)"></app-user-form>
  <h3>Users list:</h3>
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
   <ul class="list-group users">
        <li  class="list-group-item" *ngFor = "let user of users" >
              
            <app-user [user] = user (deleteEvent) = "deleteUser($event)" (editEvent) = "editUser($event)"></app-user>          
        </li>
  </ul>
</div>