Name: {{kabatim.name}}, Age: {{kabatim.age}} 
<span *ngIf = "!isEdit" >Name: {{kabatim.name}}, Age: {{kabatim.age}} </span>
<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "kabatim.name"> Age: <input type="text" [(ngModel)] = "kabatim.age"></span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 


