ID: {{photo.id}}, Title {{photo.title}} ,   Url: {{photo.url}}
<span *ngIf = "!isEdit" >ID: {{photo.id}}, Title: {{photo.title}}, Url: {{photo.url}} </span>
<span *ngIf = "isEdit" >ID: <input type="text" [(ngModel)] = "photo.id"> Title: <input type="text" [(ngModel)] = "photo.title">Url: <input type="text" [(ngModel)] = "photo.url"> </span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
