<div>
  <app-photo-form (photoAddedEvent) = "addPhoto($event)"></app-photo-form>
  <h3>Photos list:</h3>
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
 
   <ul class="list-group photos">
        <li class="list-group-item" *ngFor = "let photo of photos" >
            
            <app-photo [photo] = photo (deleteEvent) = "deletePhoto($event)"  (editEvent) = "editPhoto($event)"></app-photo>       
        </li>
  </ul>
</div>