<h2>Add Post</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="title">Ttile</label>
    <input type="text"
            class="form-control"
            id="title"
            name = "title"
            required
            [(ngModel)] = "post.name">
  </div>
  <div class="form-group">
    <label for="auther">Auther</label>
    <input type="text"
            class="form-control"
            id="auther"
            name = "auther" 
            required
           
            [(ngModel)] = "post.auther">
                
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>