<h1>
  {{title}}
</h1> 
<nav>
  <a routerLink='/users'>Jason List</a> | 

  <a routerLink='/posts'>Service List</a> | 
  <a routerLink='/photos'>Server List</a> | 
    
  <a routerLink='/kabatims'>Api List</a> | 
   
  <a routerLink='/invoices'>Firebase List</a> 
  <a routerLink='/invoiceForm'>invoice  Form</a> 
 

  
</nav> <br/>
<router-outlet></router-outlet>