<div>
 <app-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
  <h3>Invoices list:</h3>
   <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <ul class="list-group invoices">
        <li class="list-group-item" *ngFor = "let invoice of invoices" >
           
             <app-invoice [invoice] = invoice (deleteEvent) = "deleteInvoice($event)" (editEvent) = "editInvoice($event)"></app-invoice>           
        </li>
  </ul>
</div>