  Title: {{post.title}}, Auther: {{post.auther}}   
<span *ngIf = "!isEdit" >Title: {{post.title}}, Auther {{post.auther}} </span>
<span *ngIf = "isEdit" >Title: <input type="text" [(ngModel)] = "post.title"> Auther: <input type="text" [(ngModel)] = "post.auther"></span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
