<div>
  <app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
  <h3>Posts list:</h3>
  
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" [class.active]="currentPost == post" (click)="select(post)" >
          
            <app-post [post] = post (deleteEvent) = "deletePost($event)" (editEvent) = "editPost($event)"></app-post>         
        </li>
  </ul>
</div>