<h2>Add Kabat</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
            [(ngModel)] = "kabatim.name">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text"
            class="form-control"
            id="age"
            name = "age" 
            required
          
            [(ngModel)] = "kabatim.age">
           
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>