<h2>Add Photo</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text"
            class="form-control"
            id="id"
            name = "id"
            required
            [(ngModel)] = "photo.id">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
            class="form-control"
            id="title"
            name = "title" 
            required
           
            [(ngModel)] = "photo.title">    
  </div>
  <div class="form-group">
    <label for="url">Url</label>
    <input type="text"
            class="form-control"
            id="url"
            name = "url" 
            required
           
            [(ngModel)] = "photo.url">    
  </div>
  

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>